body{
    padding: 30px;
}
.submit{
    margin-top: 40px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 40px;
}
#transection-area{
    display: none;
}
.money{
    margin: 0 20px;
    padding: 10px;
    border-radius: 10px;
}
.diposit{
    background-color: aqua;
}
.withdraw{
    background-color: salmon;
}
.balance{
    background-color: yellowgreen;
}